#!/usr/bin/env bash

DEFAULT_JVM_OPTS="-Dfile.encoding=UTF-8"
JVM_OPTS=(${DEFAULT_JVM_OPTS[@]} {{ jvm_opts }})

JAVACMD="java"
PID_FILE="{{ pid_file }}"

SOLR_PORT="{{ solr_port }}"
SOLR_HOME="{{ solr_home }}"
SOLR_INSTALL_DIR="{{ solr_install_dir }}"
SOLR_SERVER_DIR="{{ solr_install_dir }}/server"
SOLR_LOG_DIR="{{ solr_log_dir }}"


SOLR_START_OPT=('-server' \
"${JVM_OPTS[@]}" \
-Djetty.host={{ solr_host }}
-Djetty.port=$SOLR_PORT \
-Djetty.home=$SOLR_SERVER_DIR \
-Dsolr.solr.home=$SOLR_HOME \
-Dsolr.log.dir=$SOLR_LOG_DIR \
-Dsolr.install.dir=$SOLR_INSTALL_DIR)


start() {
    cd "$SOLR_SERVER_DIR"
	nohup "$JAVACMD" "${SOLR_START_OPT[@]}" -Dsolr.log.muteconsole -jar start.jar --module=http >/dev/null 2>&1 &
	echo $! > "$PID_FILE"
	pid=`cat "$PID_FILE"`
	echo "Solr started with pid $pid."
}

start_fg() {
    cd "$SOLR_SERVER_DIR"
	"$JAVACMD" "${SOLR_START_OPT[@]}" -jar start.jar --module=http
}

stop() {
	pid=`cat "$PID_FILE"`
	kill -TERM $pid
	echo "Solr stopped successfully."
}

status() {
    pid=`cat "$PID_FILE"`
    if ps -p $pid > /dev/null 2>&1
    then
        echo "Solr running with pid $pid."
    else
        echo "Solr is not running."
    fi
}

case "$1" in
    start)
        start
        ;;

    fg)
        start_fg
        ;;

    stop)
        stop
        ;;

    restart)
        stop
        start
        ;;

    status)
        status
        ;;
esac
