solr.undertow: {
{% if zk_run == 'true' %}
  zkRun: {{ zk_run }}
{% endif %}
{% if zk_host %}
  zkHost: {{ zk_host }}
{% endif %}
  httpClusterPort: {{ http_cluster_port }}
  solrHome: "{{ solr_home }}"
  solrLogs: "{{ solr_logs }}"
  tempDir: "{{ temp_dir }}"
  solrVersion: {{ solr_version }}
  solrWarFile: "{{ solr_war_file }}"
}
